.wrapper {
    display: grid !important;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    padding: 0 10px;
    overflow: auto;
    height: fit-content;
}

.item {
    background-color: rgb(31, 219, 125);
    padding-top: 80%;
}
